{% extends parentLayout %}

{% block body %}
<button
    class="px-4 py-2 bg-green-200 hover:bg-green-100 rounded cursor-pointer"
    hx-get="/clean-archi/users/shuffle"
    hx-target="#users">
        Shuffle users
</button>

{% include "clean-archi/infrastructure/web/views/users/partials/users.njk" %}
{% endblock %}
